{% extends 'chat/base.html' %}

{% block content %}
    
<a href="{% url 'ThreadView' 'jitu' %} ">chat </a>

<h3>You: {{me.username}}</h3>
    <h3>Thread: {{user.username}}</h3>
    <ul id="message-list">
        {% for message in messages %}
        <li>[{{message.sender.username}}]: {{message.text}}</li>
        {% endfor %}
    </ul>
    <form action="" id="message-form">
        {% csrf_token %}
        <input type="text" name="message" id="message" required>
        <input type="submit" value="Send" class="btn">
    </form>
    <!-- <form action="">
        {%csrf_token %}
        <input type="date">
        <p>
            <select name="" id="">
                <option value="lunch">lunch</option>
                <option value="breakfast">breakfast</option>
                <option value="dinner">dinner</option>
            </select>
        </p>
        <p>
            <select name="" id="" >
                <option value="20">item1</option>
                <option value="30">item2</option>
                <option value="40">item3</option>
            </select>
        </p>
        <button type="submit">Book the meal</button>
    </form> -->
{% endblock content %}

{% block custom_javascript %}
<script>
    const url="ws://localhost:8000/ws"+window.location.pathname;
    const ws=new WebSocket(url);
    ws.onopen = (event) => {
        console.log(event)
        console.log("connection is open")
        
    }
    ws.onmessage = (event) => {
        console.log(event)
        console.log("Message is Recived")
        const ul =document.getElementById('message-list');
        var li =document.createElement('li');
        var data=JSON.parse(event.data)

        li.append(document.createTextNode(
            '['+data.username +']'+data.text
        ));
        ul.append(li);
    }
    ws.onclose = (event) =>{
        console.log(event)
        console.log("Connection is Closed")
    } 
    ws.onerror = (event) => {
        console.log("something bad happened")
    }
    const messageForm = document.getElementById('message-form');
    messageForm.addEventListener('submit',sendMessage)
    function sendMessage(e){
        if (e.preventDefault) e.preventDefault()
        ws.send(document.getElementById('message').value)
        messageForm.reset();
        return false;
    }
</script>
{% endblock custom_javascript %}